:root {
  --custom-hover-color: hsl(5, 60%, 96%);
}
  
::selection {
  background-color: #B5562A;
  color: #fafafa;
}

  linearGradient > stop:nth-of-type(1) {
    stop-color: #DB7439;
  }

  linearGradient > stop:nth-of-type(2) {
    stop-color: #C83232;
  }

  .header {
    --background-color: #fff
  }
  
  .header__hamburger-menu {
    --background-color: #DB7339;
  }
  
  .header__logo use, .header__logo g path, .header__logo--mobile use, .header__logo--mobile g path {
    --background-color: #D96B38;
  }
  
  .header__search-box {
    --background-color: linear-gradient(white, white) padding-box, linear-gradient(to right, #D66137, #CD4434) border-box;
  }
  
  .header__search-icon {
    --color: #CD4534;
  }
  
  .btn--primary, .rating-icon {
    --background-color: #CC4033;
    --hover-background-color: hsl(5, 60%, 55%);
  }
  
  .header__notifications {
    --color: #CC4033;
    --hover-color: hsl(5, 60%, 55%);
  }

  .notification-item.False::before {
    --background-color: #CC4033;
  }
  
  .header__language-switch {
    --background-color: rgb(235, 235, 235);
  }
  
  .header__language-switch .on {
    --background-color: #CB3B33;
  }
  
  .header__language-switch .off {
    --color: #686868;
  }
  
  .header__search-field {
    --color: #222;
  }
  
  .point-view {
    --color: inherit;
  }
  
  .social-icon {
    --color: #C93532;
  }
  
  .daily-summary__tags {
    --color: #CA3933;
  }
  .publish-idea-icon{
    --color: #f5f5f5;
  }
  .publish-idea{
    --background-color: #C93432;
    --hover-background-color: hsl(1, 60%, 55%);
  }
  .daily-summary__navigation-element-base::after{
  --background-color:#e3e3e3;
  }
  .daily-summary__navigation-element-base .daily-summary__navigation-icon{
  --color:#D15335;
  }
  .daily-summary__description-text.favourite{
  --background-color: transparent;
  
  }
  .daily-summary__description-text.trend{
  --background-color: transparent;
  
  }
  .article-side{
  --color: inherit;
  }

  .footer__footer {
    --background-color: #FFF;
  }

  .footer__link {
    --color: #C93532;
    --hover-color: hsl(1, 60%, 55%);
  }

  ::-webkit-scrollbar-thumb {
    --background-color: #d04f35;
    --hover-background-color: hsl(10, 62%, 56%);
  }

  
  ::-webkit-scrollbar-track {
    --background-color: hsl(10, 62%, 96%);
  }

  .idea {
    --background-color: #f0f0f0;
    --indicator-background-color: #D25336;
  }
  
  .idea__interaction-icon {
    --color: #D25336;
    --hover-color: hsl(11, 63%, 57%);
  } 

  .idea__counter {
    --color: #D25336;
  }

  .idea__author {
    --color: #D25336;
  }

  .idea__text {
    --color: #686868;
  }

  .idea__administration-menu a {
    --color: #444;
    --hover-color: #666;
  }

  .daily-summary__navigation-element.active .daily-summary__navigation-icon {
    --color: #D15335;
  }

  .daily-summary__navigation-element.active {
    --background-color: #e3e3e3;
  }

  /* IDEAS OVERVIEW (RANDOM IDEAS) */

  .user-copyright, .idea-controller, .articles {
    --color: #1E1D1E;
    --background-color: #F0F0F0;
  }

  .controller__item {
    --color: #D25336;
    --hover-color: hsl(11, 63%, 57%);
  }

  .heading-tertiary {
    --color: #D25336;
  }

  .header__notifications-link::before {
    background-color: #555 !important;
  }

  /* INSPECTING IDEAS  */

  .daily-summary.inspect-idea {
    --background: linear-gradient(#DB7439, #C83232);
  }

  .idea-overview {
    --background-color: #f0f0f0;
  }

  .idea__interaction-btns {
    --indicator-background-color: #D25336;
  }

  .idea-comment .idea__interaction-btns {
    --indicator-background-color: #111;
  }

  .send-comment-btn {
    --background-color: #D25336;
    --hover-background-color: hsl(11, 63%, 57%);

    --color: #eee;
  }

  .send-comment-textbox {
    --background-color: #ccc;
  }

  /* LEADERBOARD  */

  .leaderboard {
    --background-color: #f0f0f0;
  }

  .title {
    --color: #222;
  }

  .leaderboard__list-item {
    --color: inherit;
  }

  .notch-list > .leaderboard__index {
    --color: hsl(11, 63%, 95%);
    --background-color: #D25336;
  }

  .notch-list > .leaderboard__username {
    --color: hsl(11, 63%, 60%);
  }

  .leaderboard__index {
    --color: hsl(0, 0%, 70%);
    --background-color: hsl(0, 0%, 85%);
  }

  /* HOME */

  .home body {
    background-image: linear-gradient(to bottom right, #DB7439, #C83232);
  }

  .topic-cta {
    --color: #D25336;
  }
  
  .header__link {
    --color: #D25336;
    --hover-color: hsl(11, 63%, 57%);
  }

  .heading-animated {
    --background: linear-gradient(to right, #DB7439, #C83232);
  }

  body {
    --color: #777;
  }

  /* PROFILE */

  .profile__user-details {
    --color: #111;
  }

  .profile-card {
    --background-color: #fcfcfc;
  }

  /* PUBLISH IDEA  */

  .publish-idea-container {
    --background-color: hsl(11, 63%, 45%);
  }

  .btn-form {
    --background-color: hsl(11, 63%, 60%);
    --hover-background-color: hsl(11, 63%, 55%);
    --color: #eee;
  }


  /* AUTHENTICATION  */

  .my-account__link {
    --hover-color: hsl(11, 63%, 45%);
  }



    /* SHOP  */

    .confirm-purchase__btn--confirm {
      --background-color: #CC4033;
      --hover-background-color: hsl(5, 60%, 55%);
    }