{% extends 'base.html' %} 

{% block head %} 
<link rel="stylesheet" href="/static/styles/utilities.css">
<link rel="stylesheet" href="/static/styles/authentication.css">

<style>
.verify-credentials:target + .login-box__form {
  backface-visibility: hidden;
  animation: FadeOutLeft .4s cubic-bezier(0.85, 0, 0.15, 1) .1s forwards;
  transform: translateX(-110%);

  visibility: hidden;
  opacity: 0;
}
</style>

{% endblock %} 

{% block main %}
<div class="wrapper auth">
  <div class="auth__title">
    <h2 class="heading-secondary auth__heading">jusTHINK</h2>
    <span class="heading-secondary auth__description">günlük inovasyon dozu</span>
  </div>
  <div class="register-box auth-box" id="register">
    <h3 class="auth-box__heading-tertiary">Hesabın yok mu? Kayıt ol</h3>
    <div class="verify-credentials" id="verify-credentials">
      <div class="verify-credentials__content">
        <svg class="verify-credentials__icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
          <path fill="currentColor" d="m18 20l-1.4-1.4l1.575-1.6H14v-2h4.175L16.6 13.4L18 12l4 4ZM4 17q-.825 0-1.412-.587Q2 15.825 2 15V5q0-.825.588-1.413Q3.175 3 4 3h13q.825 0 1.413.587Q19 4.175 19 5v5.1q-.25-.05-.5-.075Q18.25 10 18 10t-.5.012q-.25.013-.5.063V6.4L10.4 11L4 6.425V15h8.075q-.05.25-.063.5q-.012.25-.012.5t.025.5q.025.25.075.5ZM5.45 5l4.95 3.55L15.5 5ZM4 15V5v10Z"/>
        </svg>
        <h4 class="verify-credentials__title">Son bir adım kaldı...</h4>
        <p class="verify-credentials__description">Sana yolladığımız e-postadaki <br> bağlantıya tıkla, <a href="#" style="color: inherit">hesabını doğrula</a>.</p>
      </div>
    
    
    </div>
    <form action="" method="POST" class="register-box__form">
      {% csrf_token %}
       <div class="auth-box__input-box">
            <label for="username" class="auth-box__label">Kullanıcı adı:</label>
            <input type="text" name="username" id="username" placeholder="meredith_grey" class="auth-box__input" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,20}$" oninvalid="setCustomValidity('Kullanıcı adınız 2 - 20 karakter arasında, alfanumerik bir yapıda olmalı.')" required>
       </div>
       <div class="auth-box__input-box">
            <label for="email" class="auth-box__label">Elektronik Posta:</label>
            <input type="email" name="email" id="email" placeholder="hello@justhink.net" class="auth-box__input" oninvalid="setCustomValidity('E-posta adresinizi doğru girmelisiniz.')" required>
        </div>
        
        <div class="auth-box__input-box">
            <label for="password" class="auth-box__label">Şifre:</label>
            <input type="password" name="password" id="password" placeholder="*******" class="auth-box__input" autocomplete="new-password" minlength="8" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" oninvalid="setCustomValidity('Şifreniz; en az bir büyük harf, bir küçük harf, bir özel karakter veya rakamdan oluşan, minimum 8 haneli bir yapıda olmalı.')" required>
        </div>
        <div class="auth-box__input-box ref-code">
          <label for="password" class="auth-box__label">Referans Kodu (Zorunlu Değil):</label>
          <input type="password" name="password" id="password" placeholder="xA25?ASc!." class="auth-box__input" autocomplete="new-password" minlength="8">
      </div>
        <a href="#" class="auth__forget-password">İlgili politikaları okumak için tıkla</a>
        <div class="bottom-box">
            <a href="#login" class="auth__forget-password auth__new-account" style="text-decoration: none;margin-top: 1.2rem;">Zaten hesabın var mı? <span style="font-weight: 600; color: #000; ">Giriş yap!</span></a>
                <div class="bottom-box__controller">
                  <div class="auth-box__checkbox-box">
                      <input type="checkbox" name="kvkk-agreed" id="kvkk-agreed" class="auth-box__input-checkbox">
                      <label for="kvkk-agreed" class="auth-box__checkbox-label"><a href="/static/policies/user-terms.pdf" target="_blank " style="color: inherit">KVKK'yı</a> kabul ediyorum.</label>
                  </div>
                  <a href="#login" class="auth__forget-password" style="text-decoration: none">Yardım ister misiniz?</a>
                </div>
            <!-- <a href="#verify-credentials" class="btn btn--primary auth-btn__continue">Devam Et</a> -->
    
            <input type="submit" value="Kayıt Ol" class="btn btn--primary auth-btn__submit">
        </div>
    </form>
    </div>
      <div class="login-box auth-box" id="login">
        <h3 class="auth-box__heading-tertiary">Hesabını Kurtar:</h3>
        <div class="verify-credentials" id="verify-credentials">
          <div class="verify-credentials__content">
            <svg class="verify-credentials__icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
              <path fill="currentColor" d="m18 20l-1.4-1.4l1.575-1.6H14v-2h4.175L16.6 13.4L18 12l4 4ZM4 17q-.825 0-1.412-.587Q2 15.825 2 15V5q0-.825.588-1.413Q3.175 3 4 3h13q.825 0 1.413.587Q19 4.175 19 5v5.1q-.25-.05-.5-.075Q18.25 10 18 10t-.5.012q-.25.013-.5.063V6.4L10.4 11L4 6.425V15h8.075q-.05.25-.063.5q-.012.25-.012.5t.025.5q.025.25.075.5ZM5.45 5l4.95 3.55L15.5 5ZM4 15V5v10Z"/>
            </svg>
            <h4 class="verify-credentials__title">Son bir adım kaldı...</h4>
            <p class="verify-credentials__description">Sana yolladığımız e-postadaki <br> bağlantıya tıkla, <a href="#" style="color: inherit">hesabını kurtar</a>.</p>
          </div>
        
        
        </div>
        <form action="" method="POST" class="login-box__form">
          {% csrf_token %}
    
           <div class="auth-box__input-box">
                <label for="current-username" class="auth-box__label">Kullanıcı adı:</label>
                <input type="text" name="current-username" id="current-username" placeholder="meredith_grey" class="auth-box__input" oninvalid="setCustomValidity('Kullanıcı adınız 2 - 20 karakter arasında, alfanumerik bir yapıda olmalı.')" required>
           </div>
           <div class="auth-box__input-box">
            <label for="email" class="auth-box__label">Elektronik Posta:</label>
            <input type="email" name="email" id="email" placeholder="hello@justhink.net" class="auth-box__input" oninvalid="setCustomValidity('E-posta adresinizi doğru girmelisiniz.')" required>
          </div>
          <a href="#" class="auth__forget-password">İlgili politikaları okumak için tıkla</a>
    
            <div class="bottom-box">
                <div class="bottom-box__controller-forgot">
                  <a style="display: block; text-decoration: none;" href="{% url 'authentication' %}" class="auth__forget-password">Geri Dön</a>
                </div>
                <input type="submit" value="Onayla" class="btn btn--primary">
            </div>
        </form>
    </div>
    </div>

</div>

<script>
  if (window.matchMedia("(max-width: 43em)").matches) {
    document.querySelector("#register > h3").innerHTML = 'Kayıt ol:'
  } 
</script>
{% endblock %}


{% block daily_summary %} 

{% endblock %} 

{% block publish_idea %} 

{% endblock %}