{% extends 'base.html' %} 

{% block head %}
<link rel="stylesheet" href="/static/styles/index.css" />
{% endblock head %} 


{% block main %}

<div class="latest-ideas">
  {% for top_idea in top_ideas %}
  <div class="idea" id="{{ top_idea.id }}">
    <div class="idea__interaction-btns">

      <a href="/like-idea/{{ top_idea.id }}" class="idea__like-btn idea__btn">
        <span class="material-symbols-outlined idea__interaction-icon {% if request.user.username in top_idea.idea_likes %}interacted{% endif %}"
          >favorite</span
        >

        <p class="idea__like-count idea__counter">
          {{ top_idea.idea_like_count }}
        </p>
      </a>
      <a
        href="inspect-idea/{{ top_idea.id }}"
        class="idea__comment-btn idea__btn"
      >
        <span class="material-symbols-outlined idea__interaction-icon"
          >chat</span
        >
        <p class="idea__comment-count idea__counter">
          {{ top_idea.idea_comments }}
        </p>
      </a>
      <a href="#" class="idea__share-btn idea__btn" data-url = "/inspect-idea/{{ top_idea.id }}" onclick="navigator.clipboard.writeText(window.location.href.slice(0, -1) + this.getAttribute('data-url'));">
        <span class="material-symbols-outlined idea__interaction-icon"
          >share</span
        >
      </a>
    </div>
    <div class="idea__content">
      <p class="idea__author">{{ top_idea.idea_author.account.username }}:</p>
      <p class="idea__text">{{ top_idea.idea_content }} {% if top_idea.idea_content|length >= 500 %} <a style="text-decoration: none; color: inherit; font: inherit;" href="inspect-idea/{{ top_idea.id }}"><u>devamını oku</u></a> {% endif %}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock main %}
