{% extends 'base.html' %} 

{% block title %}Market{% endblock title %} 

{% block daily_summary %} 

{% endblock %} 

{% block publish_idea %} 

{% endblock %}

{% block head %} 
<link rel="stylesheet" href="/static/styles/shop.css">
{% endblock %}

{% block main %}
<div class="wrapper">
  <div class="title">
    <h1 class="heading-primary">Justhink Marketi</h1>
    <p class="heading-description">Justhink'te aktif olarak ve diğer insanlarla konuşarak kazandığın puanları burada harcayabilirsin!</p>
  </div>
  <div class="shop">
    <div class="categories-nav">
      
    </div>
    <div class="products">
      <!-- <div class="product">
        <img class="product-image" src="https://media.discordapp.net/attachments/1023140492927582258/1046454341298565191/justhink.net_admin_idea_comment_.png?width=1248&height=702" />
        <div class="product__content">
          <h4 class="product-title">Forest Teması</h4>
          <p class="product-description">Forest Teması kullanıcıları mutlu edecek bir orman temasıdır.</p>
          <div class="product-details">
            <span class="product-fee">Ücret: <span>45 Puan</span></span>
            <a href="#" class="btn btn--primary product-buy">

              Satın Al</a>
          </div>
        </div>
      </div>
      <div class="product">
        <img class="product-image" src="https://media.discordapp.net/attachments/1023140492927582258/1046454341298565191/justhink.net_admin_idea_comment_.png?width=1248&height=702" />
        <div class="product__content">
          <h4 class="product-title">Forest Teması</h4>
          <p class="product-description">Forest Teması kullanıcıları mutlu edecek bir orman temasıdır.</p>
          <div class="product-details">
            <span class="product-fee">Ücret: <span>45 Puan</span></span>
            <a href="#" class="btn btn--primary product-buy">

              Satın Al</a>
          </div>
        </div>
      </div>
      <div class="product">
        <img class="product-image" src="https://media.discordapp.net/attachments/1023140492927582258/1046454341298565191/justhink.net_admin_idea_comment_.png?width=1248&height=702" />
        <div class="product__content">
          <h4 class="product-title">Forest Teması</h4>
          <p class="product-description">Forest Teması kullanıcıları mutlu edecek bir orman temasıdır.</p>
          <div class="product-details">
            <span class="product-fee">Ücret: <span>45 Puan</span></span>
            <a href="#" class="btn btn--primary product-buy">

              Satın Al</a>
          </div>
        </div>
      </div>
      <div class="product">
        <img class="product-image" src="https://media.discordapp.net/attachments/1023140492927582258/1046454341298565191/justhink.net_admin_idea_comment_.png?width=1248&height=702" />
        <div class="product__content">
          <h4 class="product-title">Forest Teması</h4>
          <p class="product-description">Forest Teması kullanıcıları mutlu edecek bir orman temasıdır.</p>
          <div class="product-details">
            <span class="product-fee">Ücret: <span>45 Puan</span></span>
            <a href="#" class="btn btn--primary product-buy">

              Satın Al</a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
{% endblock %}
