{% extends 'base.html' %} 

{% block head %}
<link rel="stylesheet" href="/static/styles/index.css" /> 
{% endblock head %} 

{% block main %} 

  <div class="latest-ideas">
    <div class="idea">
      <div class="idea__interaction-btns">
        <div class="idea__like-btn idea__btn">
          <ion-icon name="heart-outline" class="idea__interaction-icon"></ion-icon>
          <p class="idea__like-count idea__counter">123</p>
        </div>
        <div class="idea__comment-btn idea__btn">
          <ion-icon name="chatbox-outline" class="idea__interaction-icon"></ion-icon>
          <p class="idea__comment-count idea__counter">456</p>
        </div>
        <div class="idea__share-btn idea__btn">
          <ion-icon name="share-social-outline" class="idea__interaction-icon"></ion-icon>
        </div>
      </div>
      <div class="idea__profile-photo">
        <img src="https://media.discordapp.net/attachments/1017384806717333555/1032356249146232852/unknown.png" alt="Profil Resmi"> 
      </div>
      <div class="idea__content">
        <p class="idea__author">
          d20:
        </p>
        <p class="idea__text">
          Burada bir sınırımız yok, insanların düşüncelerini, duygularını, fiziksel güçlerini ve daha fazlasını kendi amacınız için kullanabilirsiniz. Kısıtlı bir süreniz olduğu için ne yapacağınıza iyi karar vermeli, detayları iyi düşünmelisiniz. Örneğin bir imparatorluk kurma hayaliniz varsa insanlar örneğin bir imparatorluk kurma hayaliniz varsa insanlar  <u>devamını oku</u>
        </p>
      </div>
    </div>
    <div class="idea">
      <div class="idea__interaction-btns">
        <div class="idea__like-btn idea__btn">
          <ion-icon name="heart-outline" class="idea__interaction-icon"></ion-icon>
          <p class="idea__like-count idea__counter">123</p>
        </div>
        <div class="idea__comment-btn idea__btn">
          <ion-icon name="chatbox-outline" class="idea__interaction-icon"></ion-icon>
          <p class="idea__comment-count idea__counter">456</p>
        </div>
        <div class="idea__share-btn idea__btn">
          <ion-icon name="share-social-outline" class="idea__interaction-icon"></ion-icon>
        </div>
      </div>
      <div class="idea__profile-photo">
        <img src="https://media.discordapp.net/attachments/1017384806717333555/1032356249146232852/unknown.png" alt="Profil Resmi"> 
      </div>
      <div class="idea__content">
        <p class="idea__author">
          d20:
        </p>
        <p class="idea__text">
          Burada bir sınırımız yok, insanların düşüncelerini, duygularını, fiziksel güçlerini ve daha fazlasını kendi amacınız için kullanabilirsiniz. Kısıtlı bir süreniz olduğu için ne yapacağınıza iyi karar vermeli, detayları iyi düşünmelisiniz. Örneğin bir imparatorluk kurma hayaliniz varsa insanlar örneğin bir imparatorluk kurma hayaliniz varsa insanlar  <u>devamını oku</u>
        </p>
      </div>
    </div>
  </div>
{% endblock main %}
  