*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-weight: 400;
  color: #222;
  font-family: "Montserrat", sans-serif !important;
  overflow-x: hidden !important;
}

html, body {
  overflow-x: hidden;
}
body {
  position: relative
}

body {
  height: 100%;
  font-size: 1.6rem;

  background-color: #e3e3e3;
}

main {
  height: auto;
  position: relative;
  padding: 2.5rem 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
}

.idea__btn {
  cursor: pointer;
}


.daily-summary_mobile-structor {
  display: none;
}


::-webkit-scrollbar {
  width: 1.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #f1eaf1;
  border-radius: 9px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #74316F; 
  border-radius: 10px;
  transition: background .15s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#82467d; 
}


.header {
  background-color: #fff;
  height: clamp(10rem, 10vh, 11.7rem);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.2rem;
  position: relative;
  /* gap: 9.1rem; */
}

.header::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: .15rem;
  background-color: #808080;
}

/* HEADER START (LOGO & NAV)  */

.header__start {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.header__hamburger-menu,
.header__hamburger-menu::before,
.header__hamburger-menu::after {
  position: relative;
  display: inline-block;
  width: 4.5rem;
  height: 0.7rem;
  background-color: #4D1A5F;
  border-radius: 11px;
  transition: all 0.2s ease;
}

.header__hamburger-menu::before,
.header__hamburger-menu::after {
  content: "";
  position: absolute;
  left: 0;
}

.header__hamburger-menu::before {
  top: -1.3rem;
}

.header__hamburger-menu::after {
  bottom: -1.3rem;
}

.hamburger-btn:hover .header__hamburger-menu::before {
  transform: translateY(-0.15rem);
}

.hamburger-btn:hover .header__hamburger-menu::after {
  transform: translateY(0.15rem);
}

.header__logo {
  width: 100%;
}

.header__logo use {
  stroke: #4D1A5F;
}

.header__logo g path {
  fill: #4D1A5F;
  stroke: #4D1A5F;
}

.header__heading {
  color: #4D1A5F;
  width: 32rem;
}

/* HEADER CENTER (SEARCH BOX ) */

.header__search-box {
  width: clamp(60rem, 45vw, 80rem);
  height: 5.5rem;
  background: linear-gradient(white, white) padding-box,
  #4D1A5F border-box;
  border-radius: 11px;
  border: .3rem solid transparent;

  display: flex;
  align-items: center;
  padding: 0 0.8rem;
  gap: 1.6rem;

  color: inherit;
  font: inherit;
}

.header__search-field {
  background: none;
  border: none;
  font-size: 1.8rem;
  width: 100%;
  height: 100%;
}

.header__search-field:focus {
  background: none;
  border: none;
  outline: none;
}
.header__search-icon {
  font-size: 3.2rem;
  color: #4D1A5F;
  transform: scaleX(-1);
}

/* HEADER END (NOTIFICATON, LANGUAGE SWITCH, CTA ) */

.header__end {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.header__notifications {
  font-size: 4rem;
  color: #4D1A5F;
  transition: color 0.2s ease;
}

.header__notifications-link:hover .header__notifications {
  color: #71487f;
}

.header__language-checkbox {
  visibility: hidden;
  display: none;
}

.header__language-switch *:is(.on, .off) {
  font-size: 2rem;
}

.header__language-switch {
  border-radius: 20px;
  background-color: #ebebeb;

  display: flex;
  align-items: center;

  transition: background-color 0.2s ease;
}

.header__language-switch .on {
  padding: 1.5rem;
  background-color: #4D1A5F;
  color: #fff;
  border-radius: 20px;
}

.header__language-switch .off {
  padding: 1.8rem;
  color: #686868;
}

/* LOGIN FORM ( POP - UP ) */

.login-box {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  right: 3.5rem;
  top: 11.5rem;
  z-index: 3;
  transform: translateX(120%);

  padding: 3rem 3rem;
  border-radius: 11px;
  background-color: #6b3f84;

  transition: all 0.25s ease-in-out;
}

.login-box.showed {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.login-form__heading {
  position: relative;
  margin-bottom: 3.2rem;
}

.register-container {
  display: none;
}

.register-container.active {
  display: block;
  visibility: visible;
  animation: FadeAuthSection 0.35s ease backwards;
}

.login-container {
  display: none;
}

.login-container.active {
  display: block;
  visibility: visible;
  animation: FadeAuthSection 0.35s ease backwards;
}

@keyframes FadeAuthSection {
  0% {
    display: block;
    visibility: visible;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.login-form__heading::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
}

.login-form__input-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2.4rem;
}

.login-form__input {
  color: #222;
  background-color: #eee;
  font: inherit;
  border: none;
  outline: none !important;

  width: 20rem;
  padding: 0.6rem 1.2rem;

  border-radius: 4px;
}

.login-form__input-label {
  color: #eee;
  font-weight: 500;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.login-form__information-box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.login-form__forgot-password:link,
.login-form__forgot-password:visited {
  font-size: 1.4rem;
  color: #eee;
  font-weight: 400;
}

.login-form__action-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-form__checkbox-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;
  color: #eee;
}

.login-form__checkbox {
  accent-color: #5a2a76;
}

.btn-form {
  background-color: #5a2a76;
  color: #eee !important;
  border: none !important;
  padding: 1rem 2rem !important;
  border-radius: 3.3px !important;
  transition: background-color 0.15s ease !important;
  font: inherit !important;
}

.login-form__change-auth-mode:link,
.login-form__change-auth-mode:visited {
  font-size: 1.4rem;
  text-align: center;
  text-decoration: none;
  color: #eee;
  opacity: 0.75;
  font-weight: 400;
  transition: opacity 0.1s ease;
}

.login-form__change-auth-mode:hover,
.login-form__change-auth-mode:active {
  opacity: 0.5;
}

.btn-form:hover {
  background-color: #7a5290;
}

.publish-idea-container {
  visibility: hidden;
  opacity: 0;

  position: fixed;
  right: 8rem;
  bottom: 12rem;
  background-color: #6b3f84;
  color: #eee;
  padding: 4rem;
  border-radius: 11px;
}

.publish-idea-form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.publish-idea__textarea {
  padding: 0.5rem;
  background: none;
  outline: none;
  color: #eee;
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.publish-idea__textarea::-webkit-input-placeholder {
  color: #ddd;
}

/* 

.login-box.hidden + .login-filler {
  opacity: 0;
}

.login-box.showed + .login-filler {
  opacity: 1;
  width: 100vw;
  height: 100vh;

  background-color: rgb(238, 238, 238, 0.85);
  backdrop-filter: blur(2px);
} */

/* DAILY SUMMARY  */

.daily-summary {
  position: relative;
}

.daily-summary_structor {
  width: 100%;
  height: 100%;
  max-width: 180rem;
  min-width: 100rem;
  /* max-height: 38.6rem; */
  /* min-height: 30rem; */
}

.daily-summary__content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.daily-summary__topic {
  font-size: 5rem;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1.1px;
}

.daily-summary_statistics {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 2.5rem;
  color: rgba(255, 255, 255, 0.5);
  font-size: 3rem;
}

.daily-summary__navigation {
  margin-top: 5.8rem;
  display: flex;
  justify-content: center;
  gap: 13rem;
}

.daily-summary__description-text {
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  position: absolute;
  bottom: -2.6rem;
  left: 52.5%;
  transform: translateX(-50%);
  text-align: center;
}

.daily-summary__description-text.favourite {
  background-color: #532564;
}

.daily-summary__description-text.trend {
  background-color: #48135c;
}

.daily-summary__navigation .middle {
  display: flex;
  background-color: rgb(148, 137, 143, 0.3);
  gap: 1.7rem;
  border-radius: 100px;
  height: 7.6rem;
  position: relative;
  justify-content: center;
  text-align: center;
}

.daily-summary__navigation .middle .daily-summary__navigation-element {
  background-color: transparent;
}

.base-container {
  transform: translateX(-0.15rem);
}

.daily-summary__navigation-element-base {
}

.daily-summary__navigation-element-base::after {
  content: "";
  position: absolute;
  width: 11.12rem;
  height: 11.12rem;
  background-color: #e3e3e3;
  left: 50%;
  top: calc(50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
}

.daily-summary__navigation-element-base .daily-summary__navigation-icon {
  color: #4D1A5F;
  font-size: 6rem !important;
}

.middle .daily-summary__navigation-icon {
  font-size: 4.5rem;
}

.daily-summary__navigation-element {
  height: 7.6rem;
  width: 7.6rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
}

.daily-summary__navigation-element.active {
  background-color: #e3e3e3;
}

.daily-summary__navigation-element.active .daily-summary__navigation-icon {
  color: #4D1A5F;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48

}

.daily-summary__navigation-icon {
  color: #fff;
  font-size: 5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.icon-reverse {
  transform: translate(-50%, -50%) scaleX(-1);
}

.daily-summary__tags {
  position: absolute;
  right: clamp(2rem, 1.5vw, 2.75rem);
  bottom: clamp(1.4rem, 1vh, 2rem);
  color: #632c74;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  word-spacing: 1rem;
}

/* PROFILE  */



/* PUBLISH IDEA  */

.publish-idea,
.publish-idea:link,
.publish-idea:visited {
  background-color: #4D1A5F;
  position: fixed;
  right: 2rem;
  bottom: 7rem;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  z-index: 1;
  transition: background-color 0.2s ease;
  outline: none;
  border: none;
}

.publish-idea-icon {
  font-size: 7rem;
  color: #f5f5f5;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.publish-idea:hover,
.publish-idea:active {
  background-color: #5a2a76;
}

.publish-idea-icon.close {
  display: none;
}

.publish-idea-box.writing-idea .publish-idea-icon.close {
  display: block;
  visibility: visible;
  animation: PublishIconFadeInAnimation 0.5s ease;
}

.publish-idea-box.writing-idea .publish-idea-icon.add {
  display: none;
}

.publish-idea-box.writing-idea .publish-idea-container {
  display: block;
  visibility: visible;
  opacity: 1;
  animation: FadeInBottomRight 0.5s ease;
}

.publish-idea-box.inspecting-ideas .publish-idea-icon.add {
  display: block;
  visibility: visible;
  animation: PublishIconFadeInAnimation 0.5s ease;
}

.publish-idea-box.inspecting-ideas .publish-idea-container {
  display: block;
  visibility: visible;
  opacity: 1;
  animation: FadeOutBottomRight 0.5s ease forwards;
}

@keyframes PublishIconFadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes FadeInBottomRight {
  0% {
    transform: translate(50%, 50%) scale(0);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes FadeOutBottomRight {
  0% {
    transform: translate(0, 0) scale(1);
  }
  100% {
    transform: translate(50%, 50%) scale(0);
    display: none;
  }
}

/* FOOTER  */

.footer {
  /* position: fixed;
  bottom: 0;
  width: 100%; */
  margin-top: 3.9rem;
  height: 4.25rem;
}

.social-links {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4.25rem;
  padding-right: 3rem;
  display: flex;
  align-items: center;
  background-color: #fff;
  justify-content: end;
  gap: 0.9rem;
}

.social-icon {
  /* color: ; */
  width: 2.2rem;
  height: 2.2rem;
}

.social-link {
  display: block;
  text-decoration: none;
  height: 2.2rem;
}

/* POP-UP NOTIFICATIONS  */

.messages {
  position: absolute;
}

.alert {
  position: absolute;
  background: #ede8ef;
  padding: 0.6rem 2rem;
  min-width: clamp(35rem, 20vw, 70rem);
  /* transform: translateX(1rem) translateY(1rem); */
  margin-left: 1rem;
  margin-top: 1rem;
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 0.4rem;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  color: #4D1A5F;

  z-index: 500;
}
.alert.showAlert {
  opacity: 1;
  pointer-events: auto;
}
.alert.show {
  animation: show_slide 5s ease forwards;
}
@keyframes show_slide {
  0% {
    transform: translateX(-100%);
  }
  25% {
    transform: translateX(0%);
  }
  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}
.alert img {
  width: 3rem;
  height: 3rem;
  /* color: #4D1A5F; */
  /* content: 'check_circle' */
}

.messages {
  height: 3rem !important;
}

.restriction {
  display: none;
}

.daily-summary_search-box {
  display: none;
}



.articles {
  height: 80vh;
  background-color: #f0f0f0;
  padding: 2rem;
  border-radius: 11px;
}
.articles-list {
  margin-top: 2.5rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.article-link {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.information-box {
  visibility: hidden; 
  display: block;

  transition: transform .2s ease;
  
  position: fixed;
  left: 50vw;
  top: 50vh;
  width: 33vw;
  left: 50%;
  top: 50%;
  transform: scale(0); 

  background-color: rgb(0, 0, 0, .7);
  backdrop-filter: blur(3px);
  color: #f0f0f0;
  line-height: 1.5;
  border-radius: 11px;
  padding: 3rem 6rem;
  z-index: 5000 !important;
}

.information-topic {
  text-decoration: none;
}

.information-box.showed {
  visibility: visible;
  transform: scale(1) translate(-50%, -50%) ;
}

/* ACHIVEMENT ANIMATIONS  */

.achievement-animation {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  background-color: #48135c;
  color: #f0f0f0;
  font-size: 2rem;
  font-weight: 500;
  z-index: 9999999;
  border-radius: 3px;
  animation: ScaleUpAchvAnim .5s ease;
  animation: ScaleDownAchvAnim 3s ease 1s forwards;
  
}


/* PROFILE  */

.my-account {
  opacity: 0;
  visibility: hidden;

  position: absolute;
  top: 8rem;
  background-color: #f0f0f0;
  padding: 1.2rem 2.4rem;
  max-width: 40rem;
  max-height: 38rem;
  right: 14rem;
  z-index: 9999999999999;
  display: grid;
  grid-template-rows: 1fr 3fr;
  border-radius: 9px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

  transition: all 0.2s ease;
}

.my-account.showed {
  opacity: 1;
  visibility: visible;
}

.my-account__information {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.my-account__information::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
  bottom: 1rem;
  background-color: #ccc;
}

.my-account__information--basic {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: start;
  align-items: center;
}

.my-account__profile-photo {
  max-width: 50%;
  margin-left: auto;
}

.my-account__profile-photo img {
  max-width: 100%;
}

.my-account__username {
  color: #222;
  font-weight: 700;
  font-size: 1.8rem;
}

.my-account__email {
  color: #444;
  font-size: 1.5rem;
}

.my-account__text-information {
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
}

.my-account__information--id {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.my-account__information--id span {
  display: block;
  color: #444;
  font-weight: 400;
  text-transform: none;
  font-size: 1.5rem;
}

.my-account__navigation {
}

.my-account__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  height: 100%;
}

.my-account__list-item {
  display: inline-block;
}

.my-account__link:link,
.my-account__link:visited {
  text-decoration: none;
  color: inherit;
  display: flex;
  width: 100%;
  gap: 1.6rem;
  align-items: center;
  justify-content: start;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 0.5rem;
  transition: all 0.2s ease;
  border-radius: 0.45rem;
}

.my-account__link:hover,
.my-account__link:active {
  background-color: #e4e4e4;
  color: #48135c;
}

.my-account__link:hover svg,
.my-account__link:active svg {
  color: #222;
}

.my-account__list-item:last-child {
  margin-top: auto;
}

.my-account__link svg {
  transition: all 0.2s ease;
  color: #777;
}

@keyframes ScaleUpAchvAnim {
  0% {
    transform: scale(0) translate(-50%, -50%);
    opacity: 0;
  }

  100% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes ScaleDownAchvAnim {
  0% {
    left: 50%;
    top: 50%;
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }

  100% {
    left: 100vw;
    top: 0;

    transform: scale(0) ;
    opacity: 0;
  }
}

@media only screen and (max-width: 1700px) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 1500px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 1350px) {
  html {
    font-size: 43.75%;
  }
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 37.15%;
  }
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 32.15%;
  }

  /* .header, main, .footer {
    display: none;
  }

  .restriction {
    display: flex;
    background-color: #f0f0f0;
    height: 100vh;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 2.5rem;
    padding: 0 12.5%;
  }

  .restriction > ion-icon {
    font-size: 10rem;
  }

  .social-links {
    position: relative;
    background: none;
    padding: 0;
    justify-content: center;
    gap: 1.25rem;
  }

  .social-icon {
    font-size: 4rem;
  } */

}
@media only screen and (max-width: 37em) {
  .daily-summary__topic {
    display: block;
  }

  .idea__profile-photo {
    display: none;
  }

  .idea__interaction-btns {
    flex-direction: row !important;
  }
  
  .idea__content {
    grid-column: 1 !important;
    grid-row: 1 !important;
  }

  .idea__interaction-icon {
    font-size: 3rem !important;
  }

  .header__heading {
    display: none;
  }

  .daily-summary_search-box {
    margin-bottom: clamp(.5rem, 2.4vh, 4.8rem) !important;
  }
  


  .daily-summary__navigation {
    margin-top: clamp(2.4rem, 3vh, 5.8rem) !important;
    margin-bottom: clamp(2.9rem, 10vh, 8rem);
    gap: clamp(5rem, 9vw, 13rem);
    align-items: center !important;
  }

  .daily-summary_statistics {
    font-size: 1rem !important;
    margin-top: clamp(1rem, 1vh, 3rem) !important;
  }
  .daily-summary__navigation-element {
    width: clamp(4rem, 4vh, 7.6rem) !important;
    height: clamp(4rem, 4vh, 7.6rem) !important;
  }
  .daily-summary__navigation-element-base::after {
    width: clamp(4rem, 6.4vh, 12rem);
    height: clamp(4rem, 6.4vh, 12rem);
  }
  .daily-summary__navigation .middle {
    gap: clamp(.5rem, 1.5vw, 2rem);
    height: clamp(3rem, 4.05vh, 7.6rem);
    background-position-y: 10rem !important;
    align-items: center !important;
    /* background-color: none !important; */
  }

  .daily-summary__description-text {
    bottom: clamp(-2.3rem, -2vh, -1.5rem) !important;
  }

  .idea {
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr !important;
    row-gap: clamp(1rem, 1vh, 4rem) !important;
    padding: clamp(1rem, 1vh, 3.6rem) clamp(1rem, 1vw, 2.4rem) !important;
    width: 80vw !important;
  } 

  .latest-ideas {
    width: 80vw !important;
  }

  .header__search-box {
    width: clamp(30rem, 70vw, 80rem);
    height: clamp(3rem, 5vh, 6rem);
  }

  .header {
    height: clamp(4rem, 10vh, 11.7rem);
  }
  
  .btn {
    font-size: 3rem  !important;
    padding: clamp(1rem, 1vh, 2rem) clamp(2rem, 2vw, 3.5rem) !important;
  }

  .publish-idea {
    width: clamp(6rem, 6vh, 11rem) !important;
    height:  clamp(6rem, 6vh, 11rem) !important;
    right: clamp(1rem, 2vw, 2rem) !important;
    bottom: clamp(4rem, 5vh, 7rem) !important; 
  }

  .footer, .social-links {
    height: clamp(3.5rem, 3.5vh, 5rem) !important;
    align-items: center; 
  }

  .social-links {
    padding-right: clamp(1rem, 2vh, 3rem) !important;
    gap: clamp(.1rem, .75vw, 0.9rem);
  }

  .social-link {
    height: clamp(.5rem, 1.2vh, 2.2rem) !important;
  }

  .idea:nth-of-type(even)::before, .idea:nth-of-type(n+3)::before {
    height: .1vh !important;
  }
}

@media only screen and (max-width: 43em) {
  .daily-summary__topic {
    font-size: 3rem !important;
    word-break: break-word !important;
    white-space: normal !important;
    height: auto !important;
    width: 100vw !important;
    text-align: center; 
    margin: auto;
    padding: 0 2rem;
  }

  .daily-summary_statistics {
    font-size: 2rem !important;
  }

  .header__notifications-link, .language-header {
    display: none !important;
  }

  .information-box {
    width: 75vw
  }
}


@media only screen and (max-width: 50em) {
  .latest-ideas {
    grid-template-columns: 1fr !important;
  }

  .idea:not(.idea-comment):nth-of-type(even)::after {
    display: none;
  }

  
  .idea:not(.idea-comment):nth-of-type(even)::before {
    content: "";
    position: absolute;
    left: 50%;
    top: -2.15rem;
    transform: translateX(-50%);
    background-color: #8e3967;
    width: 75%;
    height: .2rem;
  }

  .daily-summary__topic {
    font-size: 3.5rem !important;
  }
  
  .daily-summary_statistics {
    font-size: 2.3rem !important;
  }

  .daily-summary__navigation-element {
    width: 7rem;
    height: 7rem;
  }
}

@media only screen and (max-width: 65em) {
  html {
    font-size: 25.15%;
  }
  .daily-summary__topic {
    font-size: 4rem !important;
    letter-spacing: 0;
  }
  .daily-summary_statistics {
    font-size: 2.5rem !important;
  }

  .daily-summary__tags {
    right: -1rem !important;
    bottom: 1rem !important;
  }

  .header__center {
    display: none;
  }

  .daily-summary_structor {
    display: none;
  }

  .daily-summary_mobile-structor {
    display: block !important;
    overflow: hidden !important;
  }

  main {
    padding-top: 0;
  }

  .daily-summary_search-box {
    display: block;
    margin: auto;
    margin-bottom: clamp(.5rem, 5vh, 7rem);
  }

  .daily-summary__tags {
    display: none;
  }
}
@media only screen and (max-width: 80em) {
  html {
    font-size: 26.15%;
  }


  
  .idea__interaction-icon {
    font-size: 4rem !important;
  }

  .send-comment-form input {
    font-size: 2.4rem;
  }

}





