.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  font-size: 2rem;
  padding: 1.5rem 3rem;
  border-radius: 11px;
  transition: all 0.2s ease;
}

.btn--primary,
.btn--primary:link,
.btn--primary:visited {
  background-color: #4D1A5F;
  color: #fff;
}

.btn--primary:hover,
.btn--primary:active {
  background-color: #5a2a76;
}

.mt-6 {
  margin-top: 6rem;
}

.mt-2 {
  margin-top: 2rem;
}

.language-selection--primary:link,
.language-selection--primary:visited {
  transition: all 0.2s ease;
  text-decoration: none;
}

.language-selection--primary:hover,
.language-selection--primary:active {
  background-color: #51266a;
}

.language-selection--secondary:link,
.language-selection--secondary:visited {
  transition: all 0.2s ease;
  text-decoration: none;
}

.heading-secondary {
  color: #eee;
  font-size: 3.4rem;
}

.heading-tertiary {
  color: #51266a;
  font-size: 2rem;
  font-weight: 600;
}


.idea {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  width: 100%;
  padding: 3rem 2rem;
  background-color: #f0f0f0;
  border-radius: 11px;
  position: relative;
}

.idea__btn {
  text-decoration: none;
}


.idea__content {
  margin-top: 2.5rem;
  margin-bottom: auto;
  grid-column: 2 / -1;
}

.idea__interaction-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
  margin-right: 3rem;
}

.idea__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.idea__interaction-icon {
  color: #4D1A5F;
  font-size: 4.5rem;
  transition: all .2s ease;
  
}

.idea__interaction-icon.interacted {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48
}


.idea__interaction-icon:hover {
  color: #71487f;
}


.idea__counter {
  font-size: 2rem;
  color: #4D1A5F;
}

.idea__profile-photo {
  margin-right: 2.4rem;
}

.idea__profile-photo img {
  width: 20rem;
  height: 28rem;
}

.idea__content {
  font-family: "Montserrat", sans-serif;
}

.idea__author {
  color: #4D1A5F;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.idea__text {
  font-size: 1.8rem;
  color: #686868;
  font-weight: 400;
}

.idea:not(.idea-comment):nth-of-type(even)::after {
  content: "";
  position: absolute;
  left: -2.15rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: #4D1A5F;
  width: .2rem;
  height: 50%;
}
.latest-ideas {
  row-gap: 4.5rem;
}

.idea:not(.idea-comment):nth-of-type(n + 3)::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -2.15rem;
  transform: translateX(-50%);
  background-color: #4D1A5F;
  width: 75%;
  height: .2rem;
}

.idea__interaction-icon:hover {
  fill: black;
  stroke: black;
  /* background-color: black; */
}

.daily-summary_mobile-structor {
  display: none;
}

@media only screen and (max-width: 1050px) {
  .daily-summary__tags {
    right: 1.5rem;
    bottom: 1.5rem;
  }

  .daily-summary__topic {
    font-size: 4.5rem;
  }

  .daily-summary_statistics {
    font-size: 2.75rem;
  }
}