.btn:link,
.btn:visited {
  text-decoration: none;
  font-size: 2rem;
  padding: 1.5rem 3rem;
  border-radius: 20px;
  transition: all 0.2s ease;
}

.btn--primary:link,
.btn--primary:visited {
  background-color: #5a2a76;
  color: #fff;
}

.btn--primary:hover,
.btn--primary:active {
  background-color: #6b3f84;
}

.mt-6 {
  margin-top: 6rem;
}

.mt-2 {
  margin-top: 2rem;
}

.language-selection--primary:link,
.language-selection--primary:visited {
  transition: all 0.2s ease;
  text-decoration: none;
}

.language-selection--primary:hover,
.language-selection--primary:active {
  background-color: #51266a;
}

.language-selection--secondary:link,
.language-selection--secondary:visited {
  transition: all 0.2s ease;
  text-decoration: none;
}

.heading-secondary {
  color: #eee;
  font-size: 3.4rem;
}
