.btn:link,
.btn:visited {
  text-decoration: none;
  font-size: 2rem;
  padding: 1.5rem 3rem;
  border-radius: 20px;
}

.btn--primary:link,
.btn--primary:visited {
  background-color: #5a2a76;
  color: #fff;
}
